<%= form_with(model: profile, local: true) do |form| %>
    <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, 'error') %> prohibited this
            profile from being saved:</h2>

          <ul>
            <% profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="form-group col-md-6">
        <%= form.label :twitter_account %>
        <%= form.text_field :twitter_account %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="form-group">
      <div class="actions">
        <%= form.submit class: 'btn btn-info btn-md' %>
      </div>
    </div>
<% end %>
