<!DOCTYPE html>
<html>
<head>
  <title>Portafolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if logged_in? %>
    <div style='float: right;'>
      Logged in as <%= current_user.username %> |
      <%= link_to 'Logout', logout_path, method: :delete %>
    </div>
<% end %>

<% flash.each do |key, value|
  css_class = 'alert alert-success'
  if key == 'alert'
    css_class = 'alert alert-danger'
  end
%>
    <div class="<%= css_class %>" role="alert">
      <%= value %>
    </div>
<% end %>
<%= yield %>
</body>
</html>
